*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
}
.nav_bar{
    position: fixed;
    top: 0;
    background-color: rgb(241, 92, 92);
    width: 100%;
    height: 80px;
}

.nav_bar ul{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav_bar li{
    display: inline;
    padding: 1em 1em;
    height: 50px;
}

.nav_links{
    color: whitesmoke;
    text-decoration: none;
}

.nav_bar li:hover, .nav_bar li:focus{
    background-color: rgb(98, 98, 236) ;
}

.footer{
    background-color: rgb(241, 92, 92);
    padding: 15px 0;
    font-size: 17px;
    color: whitesmoke;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


