*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
}
.nav_bar{
    position: fixed;
    top: 0;
    background-color: rgb(241, 92, 92);
    width: 100%;
    height: 80px;
}

.nav_bar ul{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav_bar li{
    display: inline;
    padding: 1em 1em;
    height: 50px;
}

.nav_links{
    color: whitesmoke;
    text-decoration: none;
}

.nav_bar li:hover, .nav_bar li:focus{
    background-color: rgb(98, 98, 236) ;
}

.home{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(70, 70, 71);
    justify-content: center; 
    align-items:center;
     padding-top: 80px;
}

.home-content{
    display: flex;
    align-items: center;
    gap: 400px;
}

.home-image {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid rgb(227, 74, 74);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    display: inline-block;
}

.home-image img{
    
    width: 320px;
    height: 350px;
    object-fit: cover;
    object-position: center;

}

.text{
    font-size: 3em;
    color: whitesmoke;
}

.home .button {
    margin: 14px 0
}

.home .button button{
     outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: rgb(227, 74, 74);
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: rgb(189, 44, 44);
  background-color:rgb(174, 33, 33);
  color: rgb(255, 239, 239);
}

.footer{
    background-color: rgb(174, 33, 33);
    padding: 15px 0;
    font-size: 17px;
    color: whitesmoke;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}




